.App {
  font-family: sans-serif;
  text-align: center;
}
.form {
  border: 1px solid black;
  width: 500px;
  height: 25rem;
  margin-left: 13rem;
}
.check-input {
  font-size: 18px;
  align-items: center;
}
.check-input > span {
  font-weight: 500px;
}
.form > h4 {
  color: blue;
}
